{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block content %}
<!-- Page Banner -->
        <section class="pageBanner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner_content text-center">
                            <h4><a href="/">home</a> - Messages</h4>
                            <h2>Messages</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Banner -->
        <section class="commonSection">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6 offset-4 mt-5">
                            <h4>Voulez-vous vraiment supprimer ' {{ object }} ' ?</h4>
                            <input type="submit" value="Confirmer" class="btn btn-primary">
                            <button><a href="javascript:history.go(-1)" class="btn btn-light">Retour</a></button>
                        </div>
                    </div>
                </form>
            </div>
    </section>
{% endblock %}