<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
    <title>{% block title %}GeekGarage{% endblock title %}</title>
</head>
<body>
  <header>
      <img src=" {% static 'img/nerds-logo-new.png' %}" alt="nerds_logo" width="500" height="90" class="img-fluid" >
      <img src=" {% static 'img/shopcrop.jpg' %}" alt="shop" height="200">
  </header>
  <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
              {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
                {% else %}
            <li>
                <a href="{% url 'create' %}">Add a new center</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
              {%  endif %}
        </ul>
    </nav>
{% include 'messages.html' %}
{%  block content %}
{%  endblock content %}

    <footer>
        <div class="logo">
            <img src="{% static 'img/nerd.png' %}" width="30%" height="50">
        </div>
    </footer>
<script
        src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
</script>

</body>
</html>