<!-- Revolution Slider -->
{% load static %}
        <section class="rev_slider slider_2">
            <div class="rev_slider_wrapper">
                <div id="rev_slider_2" class="rev_slider" data-version="5.4.5">
                    <ul>
                        <!-- MINIMUM SLIDE STRUCTURE -->
                        <li data-transition="random" data-masterspeed="1000">
                            <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                            <img src="{% static 'images/slider/2_1.jpg' %}" alt="Sky" class="rev-slidebg">
                            <div class="tp-caption tp-resizeme normalWraping layer_1"

                                 data-frames='[{"delay":1200,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['-184', '-170', '-140', '-90']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-fontsize="20"
                                 data-lineheight="36"
                                 data-fontweight="400"
                                 data-letterspacing="2"
                                 data-color="#000"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 >BIENVENUE CHEZ ONLINEFORMAPRO</div>
                            <div class="tp-caption tp-resizeme normalWraping layer_2"

                                 data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['8', '0', '0', '0']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-word-wrap="['normal']"
                                 data-white-break="['break-all']"
                                 data-fontsize="['110', '80', '70', '40']"
                                 data-lineheight="['112', '90', '80', '44']"
                                 data-fontweight="700"
                                 data-letterspacing="['4.4', '4.4', '4.4', '2']"
                                 data-color="#000"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 >REPARE<br>PC<br>ONLINE.</div>
                            <div class="tp-caption tp-resizeme normalWraping layer_3"

                                 data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['273', '220', '190', '140']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-fontsize="16"
                                 data-lineheight=""
                                 data-fontweight="400"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 ></div>
                        </li>
                        <li data-transition="random" data-masterspeed="1000">
                            <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                            <img src="{% static 'images/slider/2_2.jpg' %}" alt="Sky" class="rev-slidebg">
                            <div class="tp-caption tp-resizeme normalWraping layer_1"

                                 data-frames='[{"delay":1200,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['-184', '-170', '-140', '-90']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-fontsize="20"
                                 data-lineheight="36"
                                 data-fontweight="400"
                                 data-letterspacing="2"
                                 data-color="#000"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 >BIENVENUE CHEZ ONLINEFORMAPRO</div>
                            <div class="tp-caption tp-resizeme normalWraping layer_2"

                                 data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['8', '0', '0', '0']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-word-wrap="['normal']"
                                 data-white-break="['break-all']"
                                 data-fontsize="['110', '80', '70', '40']"
                                 data-lineheight="['112', '90', '80', '44']"
                                 data-fontweight="700"
                                 data-letterspacing="['4.4', '4.4', '4.4', '2']"
                                 data-color="#000"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 >REPARE<br>PC<br>ONLINE.</div>
                            <div class="tp-caption tp-resizeme normalWraping layer_3"

                                 data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['273', '220', '190', '140']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-fontsize="16"
                                 data-lineheight=""
                                 data-fontweight="400"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 ></div>
                        </li>
                        <li data-transition="random" data-masterspeed="1000">
                            <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                            <img src="{% static 'images/slider/2_3.jpg' %}" alt="Sky" class="rev-slidebg">
                            <div class="tp-caption tp-resizeme normalWraping layer_1"

                                 data-frames='[{"delay":1200,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['-184', '-170', '-140', '-90']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-fontsize="20"
                                 data-lineheight="36"
                                 data-fontweight="400"
                                 data-letterspacing="2"
                                 data-color="#000"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 >BIENVENUE CHEZ ONLINEFORMAPRO</div>
                            <div class="tp-caption tp-resizeme normalWraping layer_2"

                                 data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['8', '0', '0', '0']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-word-wrap="['normal']"
                                 data-white-break="['break-all']"
                                 data-fontsize="['110', '80', '70', '40']"
                                 data-lineheight="['112', '90', '80', '44']"
                                 data-fontweight="700"
                                 data-letterspacing="['4.4', '4.4', '4.4', '2']"
                                 data-color="#000"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 >REPARE<br>PC<br>ONLINE.</div>
                            <div class="tp-caption tp-resizeme normalWraping layer_3"

                                 data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'

                                 data-x="left"
                                 data-y="center"
                                 data-hoffset="['0', '100', '120', '0']"
                                 data-voffset="['273', '220', '190', '140']"
                                 data-width="100%"
                                 data-height="['auto]"
                                 data-whitesapce="['normal']"
                                 data-fontsize="16"
                                 data-lineheight=""
                                 data-fontweight="400"
                                 data-textAlign="['left', 'left', 'left', 'center']"
                                 ></div>
                        </li>
                    </ul><!-- END SLIDES LIST -->
                </div>
            </div>
        </section>
        <!-- Revolution Slider -->